{% extends 'base.html' %}
{% block content %}

<!-- <h2 class="homepage_title">Homepage</h2> -->

{% if session['type'] == 'organization' %}
    <h3 class="home_name">{{ organization.name }}</h3>

    <h3 class="vtitle" >Your Volunteers</h3>
    <div class="volunteer_container">
        <ul>
        {% for volunteer in volunteers %}
            <li>
                <p>Name: {{volunteer.name}}</p>
                <p>Phone: {{volunteer.phone_number}}</p>
            </li>
        {% endfor %}
        </ul>
        </div>
        <a href="/create-alert">
        <div class="alert_button">
    <h3>Create Alert</h3>
    <p>+</p>
</div></a>
{% else %}
    <h3>{{ volunteer.name }}</h3>

    <h3>Your Organizations</h3>
        <ul>
        {% for organization in organizations %}
            <li>
                <p>Name: {{organization.name}}</p>
            </li>
        {% endfor %}
        </ul>
{% endif %}


{% endblock %}
